Source: omiscid
Section: main
Priority: extra
Maintainer: Jean-Pascal Mercier <jean-pascal.mercier@inrialpes.fr>
Build-Depends: debhelper (>= 5), autotools-dev, libxml2-dev , libavahi-client-dev, scons
Standards-Version: 3.7.2

Package: omiscid
Architecture: any
Depends: ${shlibs:Depends}, libxml2-dev, libavahi-client-dev
Description: Object Oriented Opensource Middleware for Service Communication Inspection and Discovery.
 O3MiSCID stands for Object Oriented Opensource Middleware for Service Communication Inspection and Discovery.
