#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1


# These are used for cross-compiling and for saving the configure script
# from having to guess our platform (since we know it already)
DEB_HOST_GNU_TYPE   ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)

configure:

config.status: configure
	scons zeroconf=avahi


build: build-stamp

build-stamp:  config.status

clean:
	dh_testdir
	dh_clean
	rm -rf debian/tmp
	scons -c

install: build
	dh_clean -a
	dh_installdirs -a
# Build architecture-independent files here.

binary-indep: build install
# We have nothing to do by default.

binary-arch: build install
	dh_testdir
	dh_testroot
	scons zeroconf=avahi prefix=$(CURDIR)/debian/tmp/usr install
	#$(CURDIR)/debian/replace.sh 
	sed  -i 's/\/[A-Za-z0-9 | \/ | . | -]*debian\/tmp//g' $(CURDIR)/debian/tmp/usr/bin/OmiscidControl-config
	sed  -i 's/\/[A-Za-z0-9 | \/ | . | -]*debian\/tmp//g' $(CURDIR)/debian/tmp/usr/bin/OmiscidCom-config
	sed  -i 's/\/[A-Za-z0-9 | \/ | . | -]*debian\/tmp//g' $(CURDIR)/debian/tmp/usr/bin/OmiscidSystem-config
	dh_install --sourcedir=debian/tmp
	dh_fixperms -a
	dh_installdeb -a
	dh_shlibdeps -a
	dh_gencontrol -a
	dh_md5sums -a
	dh_builddeb -a



binary: binary-indep binary-arch
