Source: $OMISCID_PACKAGENAME
Section: main
Priority: extra
Maintainer: OMiSCID Team <omiscid@inrialpes.fr>
Build-Depends: debhelper (>= 5), autotools-dev, libxml2-dev, scons$OMISCID_DEPENDANCY
Standards-Version: 3.8.0

Package: $OMISCID_PACKAGENAME
Architecture: any
Depends: ${shlibs:Depends}
Conflicts: $OMISCID_REPLACES
Replaces: $OMISCID_REPLACES
Description: OMiSCID libraries (using $OMISCID_ZEROCONF).
 O3MiSCID stands for Object Oriented Opensource Middleware for Service
 Communication Inspection and Discovery. This package contains binary files
 for use with $OMISCID_ZEROCONF_INFO.

Package: omiscid-dev
Architecture: any
Depends: omiscid-mdns(< $OMISCID_NEXTVERSION) | omiscid-mdns-debug(< $OMISCID_NEXTVERSION) | omiscid-avahi(< $OMISCID_NEXTVERSION) | omiscid-avahi-debug(< $OMISCID_NEXTVERSION), libxml2-dev
Description: OMiSCID Headers and Dev files
 O3MiSCID stands for Object Oriented Opensource Middleware for Service
 Communication Inspection and Discovery. This package contains sources and
 header files in order to compile O3MiSCID.
